.container-anuncio{
    padding: 3rem 5rem;
}
.btn-anuncio{
    position: absolute;
    right: 5rem;

}
.btn-anuncio button{
    padding: 10px 20px;
    color: #fff;
    background-color: #03aec0;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}
.imagem-anuncio{
    width: 200px;
    height: 200px;
}
.imagem-anuncio img{
    border-radius: 50%;
    width: 100%;
}
.main-anuncio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.main-anuncio h1{
    margin: 15px;
    color: #be376a;
    font-weight: 400;
}
.container-tabs{
    box-shadow: 0px 0px 5px 0px;
    margin-top: 30px;
}