.tabela-horarios{
    width: 100%;
}
.tabela-horarios thead{
    background-color: #03aec0;
}
.tabela-horarios thead th{
    padding: 15px;
    font-size: 1.5rem;
    color: #fff
}
.tabela-horarios tbody td{
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
    border-bottom: 2px solid #cecdcd;
    
}