.slide{
    height: 500px;
    position: relative;
}
.slide-container{
    background-color: #ccc;
    height: 100%;
}
.slide-track{
    list-style: none;
    position: relative;
    height: 100%;
    
}

.slide-img{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: cover;

}
.btn-slide-left{
    position: absolute;
    top: 50%;
    background-color: transparent;    
    border:none;
}
.btn-slide-right{
    position: absolute;
    right: 0;
    top:50%;
    background-color: transparent;    
    border:none;
}