footer{
    padding-top: 30px;
    margin-bottom: 0;
    bottom: 0;
    box-shadow: 0px 2px 22px 0px #a7a7a7;
    padding-bottom: 10px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  
}
.footer-description{
    width: 50%;
    padding: 0 2rem;
}
.footer-description h1{
    margin-bottom: 20px;
    font-size: 1.7rem;
    color: #707072;
}
.footer-description p{
    font-size: 1.2rem;
}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-list ul{
    margin-right: 50px;
    list-style: none;
}
.footer-list ul li{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.cartoes{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 2rem;
}


@media only screen and (max-width: 1080px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;     
    }
    .footer-description{
        width: 100%;
        padding: 0 2rem;
    }
    .footer-list{
        justify-content: space-between;
        padding: 0 2rem;
    }
    .footer-list ul{
        margin-right: 0px;
        margin-top: 30px;
        
    }
   
}
@media only screen and (max-width: 600px) {
    .footer-list{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
    .footer-list ul li{
        text-align: center;
    }
    .cartoes img{
        width: 100%;
    }
    .footer-description p{
        text-align: justify;
    }
    
}